# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.virtualenv/

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# macOS files
.DS_Store

# Logs and databases (SQLite)
*.log
*.sqlite3

# Coverage files
.coverage

# Poetry lock file
poetry.lock
